.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1071px;
}

.u-section-1 .u-shape-1 {
  height: 335px;
  width: 831px;
  margin: 43px 136px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 924px;
  height: 616px;
  object-position: 0% 50%;
  margin: -262px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 598px;
  min-height: 615px;
  height: auto;
  margin: -276px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 67px auto 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  margin: 33px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 27px auto 0 0;
  padding: 16px 52px 17px 51px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: -59px 0 0 auto;
  padding: 16px 52px 17px 51px;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 20px auto 0 0;
  padding: 16px 52px 17px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: 13px;
    margin-right: auto;
    margin-left: -32px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -232px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1088px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 480px;
  }

  .u-section-1 .u-group-1 {
    min-height: 646px;
    margin-top: -140px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1146px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -8px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 360px;
    margin-top: -211px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -12px;
    min-height: 682px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 21px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    padding-right: 54px;
    padding-bottom: 18px;
    padding-left: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1010px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 227px;
    margin-top: -268px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -38px;
    min-height: 755px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 30px;
    margin-left: 23px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 43px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 30px;
    margin-left: 21px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 30px;
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 497px;
}

.u-section-2 .u-image-1 {
  width: 318px;
  height: 318px;
  margin: 54px auto 0 29px;
}

.u-section-2 .u-video-1 {
  width: 623px;
  height: 352px;
  margin: -322px 99px 60px auto;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -116px;
    margin-right: 39px;
    margin-left: auto;
  }

  .u-section-2 .u-video-1 {
    height: 351px;
    margin-top: 16px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -178px;
    margin-right: 20px;
  }

  .u-section-2 .u-video-1 {
    margin-top: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -75px;
    margin-right: 35px;
  }

  .u-section-2 .u-video-1 {
    height: 304px;
    margin-top: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-2 .u-image-1 {
    width: 195px;
    height: 195px;
    margin-top: -79px;
    margin-right: 22px;
  }

  .u-section-2 .u-video-1 {
    height: 191px;
    margin-top: 32px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}